# importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# import the dataset

In [2]:
df=pd.read_csv('zoo.csv')

In [3]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
features=list(df.columns)
print(features)

['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type']

In [5]:
features.remove('class_type')
features.remove('animal_name')

In [6]:
print(features)

['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']

In [7]:
x=df[features].values.astype(np.float32)
y=df.class_type

print(x.shape)
print(y.shape)

(101, 16)
(101,)

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=0)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(50, 16)
(51, 16)
(50,)
(51,)

# Using logistic regression to solve the problem

In [9]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(x_train,y_train)
print('training accuracy:',model.score(x_train,y_train))
print('testing accuracy:',model.score(x_test,y_test))

training accuracy: 1.0
testing accuracy: 0.9215686274509803

# Decision tree

In [10]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()
model.fit(x_train,y_train)
print('training accuracy:',model.score(x_train,y_train))
print('testing accuracy:',model.score(x_test,y_test))

training accuracy: 1.0
testing accuracy: 0.9607843137254902

# Random forest

In [11]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier()
model.fit(x_train,y_train)
print('training accuracy:',model.score(x_train,y_train))
print('testing score:',model.score(x_test,y_test))

training accuracy: 1.0
testing score: 0.9215686274509803

# Support vector machine (SVM)

In [12]:
from sklearn.svm import SVC
model=SVC(kernel='rbf',C=1.0,gamma=0.1)
model.fit(x_train,y_train)
print('training accuracy:',model.score(x_train,y_train))
print('testing accuracy:',model.score(x_test,y_test))

training accuracy: 0.98
testing accuracy: 0.8235294117647058

# Ada Boost Classifier

In [13]:
from sklearn.ensemble import AdaBoostClassifier

model=AdaBoostClassifier()
model.fit(x_train,y_train)
print('training accuracy:',model.score(x_train,y_train))
print('testing accuracy:',model.score(x_test,y_test))

training accuracy: 0.82
testing accuracy: 0.5882352941176471